body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121213;
    font-family: sans-serif;
}

.wrap {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    color: whitesmoke;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1;
    transition: transform 0.15s ease, background 0.2s;
    transform-style: preserve-3d;
}

.cell.pop {
    transform: scale(1.2);
}

input {
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
}

button {
    padding: 8px 12px;
    font-size: 16px;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

#win-message {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
  }
  @keyframes rainbow {
    0% { color: red; }
    25% { color: orange; }
    50% { color: green; }
    75% { color: blue; }
    75% { color: violet; }
  }
  .rainbow {
    animation: rainbow 10s linear infinite;
  }